:root {
  --main-bg-color: rgba(101, 197, 235);
}
:root {
  --main-txt-color: rgba(101, 197, 235);
}
html{
  
}

body{
  backgrond-color: rgba(211, 226, 240);
  font-family: 'Kiwi Maru', serif;
}

.main_wrap{
  width:100%;
  max-width: 750px;
  margin: 0 auto;
}

.contents_wrap {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.link{
  display: flex;
	flex-direction: column;
	justify-content: flex-start;
  width:32%;
  border: 3px solid var(--main-bg-color);
  text-align: center;
  border-radius: 10px;
  padding: 10px 0;
  margin: 10px;
  font-weight: bold;
}

.link a {
  display: block;
  width: 100%;
  text-align: center;
  color: var(--main-bg-color);
}

.link img{
  height: 100px;
}

.link span{
  display: block;
  width: 100%;
  text-align: center;
}

.link:hover {
  background-color: #c9c9c9;
}