@charset "utf-8";
:root {
  /*キーカラー01*/
  --key_color: #00BBFF;
  /*キーカラー02*/
  --key_color2: #eee;
  /*サブカラー*/
  --sub_color: #870000;
  /*フォント*/
  --txt_style: 'M PLUS Rounded 1c', sans-serif;
}
/* =============================================
 リセット
============================================= */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
a img, a:hover img, a:active img {
  text-decoration: none;
}
a {
  color: var(--key_color);
  text-decoration: none;
  transition: 0.3s ease-in-out;
}
a:hover, a:active {
  font-weight: normal;
}
/* =============================================
 COMMON
============================================= */
html {
  font-size: 62.5%;
}
body {
  color: #222;
  font: 1.6em/1.6 'メイリオ', 'Meiryo', 'ヒラギノ角ゴ Pro W3', 'Hiragino Kaku Gothic Pro', 'ＭＳ Ｐゴシック', 'Osaka', sans-serif;
  line-height: 1;
  -webkit-text-size-adjust: none;
  background-color: #ddd;
}
img {
  max-width: 100%;
  vertical-align: middle;
}
/************** contents **************/
.main_wrap {
  width: 100%;
  max-width: 750px;
  margin: 0 auto;
}
/*ヘッダー部分*/
header {
  background-color: var(--key_color);
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  box-sizing: border-box;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  box-shadow: 0px 3px 5px 0px rgb(0 0 0 / 5%);
  margin-bottom: 5px
}
.logo {
  width: 50%;
  margin-top: -10px;
}
.logo a {
  font-weight: bold;
  font-size: 3rem;
  line-height: 1.1;
  letter-spacing: 1px;
  color: #fff;
  font-family: 'M PLUS Rounded 1c', sans-serif;
}
.logo a span {
  font-size: 0.3em;
  font-weight: normal;
  letter-spacing: normal;
}
header nav {
  width: 40%;
}
header nav ul {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
header nav li {
  width: 48%;
}
header nav li a {
  width: 100%;
  display: block;
  background-color: #fff;
  border: 1px solid #ddd;
  padding: 10px 5px;
  box-sizing: border-box;
  border-radius: 10px;
  box-shadow: 0px 5px 7px 0px rgb(0 0 0 / 5%);
  font-size: 1.2rem;
  text-align: center;
}
header nav li a:hover, header nav li a:link {
  border: 1px solid var(--key_color);
}
/*タイマー部分*/
.time_wrap {
  width: 100%;
  background: #fff;
  box-sizing: border-box;
  border-radius: 10px;
  box-shadow: 0px 5px 7px 0px rgb(0 0 0 / 5%);
}
.time_box {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding: 15rem 20px;
  box-sizing: border-box;
}
.timer {
  width: 75%;
	padding: 0 20px;
  text-align: center;
  font-family: var(--txt_style);
  color: var(--key_color);
  font-size: 12rem;
  font-weight: 800;
  white-space: nowrap;
	letter-spacing: -1px;
	box-sizing: border-box;
}
.timeround {
  width: 25%;
  font-family: var(--txt_style);
  color: var(--key_color);
  font-size: 6rem;
  font-weight: 400;
}
.timeround span {
  font-size: 0.6em;
  font-weight: 400;
}
.timer_button_box {
  width: 100%;
}
@media screen and (max-width:640px) {
.time_box {
  flex-direction: column;
  padding: 16vw 20px;
}
.timer {
  width: 100%;
  font-size: 20vw;
}
.timeround {
  width: 100%;
  font-size: 15vw;
	text-align: center;
	margin-top: 5vw;
}
}

/*タイマーボタン*/
ul.timer_button {
  width: 100%;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
}
ul.timer_button li {
  display: inline-block;
  width: 24.8%;
  padding: 20px;
  background: var(--key_color);
  border: 1px solid var(--key_color);
  color: #fff;
  line-height: 1em;
  transition: .3s;
  box-shadow: 0px 3px 5px 0px rgb(0 0 0 / 5%);
  box-sizing: border-box;
	text-align: center;
}
input {
  display: inline-block;
  width: 100%;
  font-size: 2rem;
  text-align: center;
  cursor: pointer;
  background: none;
  border: none;
  color: inherit;
  box-sizing: border-box;
}
ul.timer_button li:hover {
  color: var(--key_color);
  background: #fff;
  border: 1px solid var(--key_color);
}
form {
  width: 100%;
  box-sizing: border-box;
}
form input #hidden {
  display: none;
}
ul.timer_button li:first-child {
  border-bottom-left-radius: 10px;
}
ul.timer_button li:last-child {
  margin-right: 0;
  border-bottom-right-radius: 10px;
}
ul.timer_button li span.material-symbols-outlined {
  display: inline-block;
  font-size: 6rem;
	text-align: center;
}
@media screen and (max-width:640px) {
ul.timer_button li span.material-symbols-outlined {
  font-size: 10vw;
}
}


/*サブコンテンツ*/
.sub_contents {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: stretch;
}
.sub_box {
  width: 32%;
}
.sub_box a {
  display: block;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  padding: 5rem 0;
  margin: 10px 0;
  background: #fff;
  box-sizing: border-box;
  border-radius: 10px;
  box-shadow: 0px 5px 7px 0px rgb(0 0 0 / 5%);
  color: var(--key_color);
  text-align: center;
  font-size: 2rem;
  font-weight: 800;
}
.sub_box a {
  display: block;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  min-height: 200px;
  margin: 10px 0;
  background: #fff;
  box-sizing: border-box;
  border-radius: 10px;
  box-shadow: 0px 5px 7px 0px rgb(0 0 0 / 5%);
  color: var(--key_color);
  text-align: center;
  font-size: 2rem;
  font-weight: 800;
}
.sub_box:hover a {
  background: #C9F5FD;
}
.sub_box a span.material-symbols-outlined {
  display: inline-block;
  font-size: 10rem;
  width: 100%;
}
@media screen and (max-width:640px) {
.sub_box a {
  min-height: 30vw;
}
.sub_box a span.material-symbols-outlined {
  font-size: 15vw;
}
}