:root {
  --main-txt-color: rgba(101, 197, 235);
  --main-bg-color: rgba(101, 197, 235);
}

html{
  
}

body{
  backgrond-color: rgba(211, 226, 240);
  font-family: 'Kiwi Maru', serif;
}

.main_wrap{
  width:100%;
  max-width: 750px;
  margin: 0 auto;
}

header{
  display: flex;
  justify-content: space-between;
  background-color: var(--main-bg-color);
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  margin-bottom: 8px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 20px;
}

.logo span {
  font-family: 'Kiwi Maru', serif;
  font-weight: 600;
  font-size: 25px;
  color: white;
}

header nav{
/*   width: 40%; */
}

header nav ul{
  width: 100%;
}

header nav ul li{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
}

header nav li a{
  display: block;
  width: 100%;
  background-color: #fff;
  text-decoration:none;
  padding: 10px 5px;
  text-align: center;
  border-radius: 10px;
  white-space: nowrap;
  margin: 10px;
}

.header_word {
  font-family: 'Kiwi Maru', serif;
  font-weight: 600;
  font-size: 25px;
  color: var(--main-bg-color);
}

header nav li a:hover {
  background-color: #c9c9c9;
}

.setting {
  color: var(--main-txt-color);
  display: flex;
  justify-content: center;
  border: 3px solid var(--main-bg-color);
  border-radius: 10px;
  padding: 10px 0;
}

.set_wrap {
  display: flex;
  justify-content: center;
  margin: 10px 0px;
}

.set_wrap input{
  outline: none;
}

.setting button{
    display: inline-block;
    font-size: 20px;
    text-align: center;
    background: white;
    border-radius: 10px;
    border: 2px solid var(--main-bg-color);
    color :var(--main-bg-color)
}

.setting button:hover {
    background-color: #c9c9c9;
}

